@import url('https://use.typekit.net/uoi6pqn.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: black;
  }
}
